{% extends "blog/basic.html" %}
{% block content %}
{% for post in posts %}
<article class="media content-section" style="width: 610px; border: 2px solid gray;  
              padding: 10px; border-radius: 10px;  
                              margin:5px;">
    <div class="media-body">
        <div class="article-metadata">

            <h3 style="font-family: 'Arial Black', sans-serif;font-size: 2.5em;letter-spacing: -1px;background-color: ;color: #5d607c;">By {{post.author}}</h3>
            <small class="text-muted">{{post.date_posted|date:"F d, Y"}}</small><br>
            <small class="text-muted">Blog Category- <a href="{% url 'category' post.category %}">{{post.category}}</small></a> {% if user.is_authenticated %}
             	{% if user.id == post.author.id %}	
                	<a href="{% url 'update_view' post.pk %}"><button type="submit" class="btn btn-outline-secondary ml-2" style="float: right;" >Edit</button></a>

                	<a href="{% url 'remove_post' post.pk %}"><button type="submit" class="btn btn-outline-secondary" style="float: right;" >Delete</button></a>
                {% endif %}
             {% endif %}
        </div>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        	
            <h2 class="article-title" style="color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0;">
            	<a href="{% url 'article_detail' post.pk %}" target="_blank" style="color: inherit;">{{post.title}}</h2><br></a>
            <p class="article-content" style=" color: #5d607c; font-family: 'Source Sans Pro', sans-serif; font-size: 20px; font-weight: 400; line-height: 32px; margin: 0 0 24px; ">{{post.content|safe}}</p>
        
    </div>
</article>
{% endfor %}
{% endblock %}